/* * {
  border: 1px solid gold;
} */
body {
  margin: 0;
  background-image: url('imgs/poker-table-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
/* Modal styling ======================= */

#modal {
  background-color: rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

.modal-buttons {
  padding: 16px 20px;
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* modal textbox ========================= */

#modal-textbox {
  background-image: url('imgs/poker-game-background.jpg');
  background-size: cover;
  color: white;
  height: 350px;
  width: 550px;
  border-radius: 4px;
  margin: 150px auto;
  box-shadow: 0 4px 4px rgba(0,0,0,.2)
  padding: 10%;
  line-height: 120%;

}

#modal-footer {
  text-align: right;
}

.header{
  height:10vh;
  width:100vw;
  margin: 0 0 30px 0;

  background-color: inherit;
}
.main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.game-screen {
  margin: 30px 0;
  height:40vh;
  width:100vw;
  background-color: inherit;

  display:flex;
  flex-direction: row;
  justify-content: center;
}
.button-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;

  height: 15vh;
  width: 20vw;
  margin:auto;
}
.card {
  height: 40vh;
  width:30vw;
  align-self: center;
}
.button {
  margin: 10px;
  width: 14vw;
  height:7vh;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 1em;
  background-color: blue;
  color: white;
  box-shadow: 5px 10px black;
  cursor: pointer;
}
.scores {
  position:absolute;
  bottom: 30px;
  margin:0;
  height:10vh;
  width:100vw;
  /* background-color: black; */
  color: white;
  font-weight:bold;
  margin-top: 1vw;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}



@media (min-width: 550px) {
.main {

  flex-direction: row;
}

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content:center;

    height: 15vh;
    width: 20vw;
    margin:auto;
  }
  .button {
    /* max-height: 30px; */
  }
}
